* {
	background-color: #393939;
	margin: 0;
	padding: 0;
	color: white;
}

button {
	background-color: black;
	border: 2px #222 solid
}

.containers > * {
	display: flex;
}

.left {
	position: left;
}

.right {
	position: right;
}
